$base-txt-colour: brown;
$base-font-size: 16px; // equal to 1rem
$heading-txt-colour: black;
$ag-colour-primary: blue; // the ag stands for AgistEase - could change all vars (eg those above) to have that at the start if I want


// shoelace tokens
:root {
    /* Changes the primary theme color to chosen colour using primitives */
    --sl-color-primary-50: #{lighten($ag-colour-primary, 50%)};
    --sl-color-primary-100: #{lighten($ag-colour-primary, 40%)};
    --sl-color-primary-200: #{lighten($ag-colour-primary, 30%)};
    --sl-color-primary-300: #{lighten($ag-colour-primary, 20%)};
    --sl-color-primary-400: #{lighten($ag-colour-primary, 10%)};
    --sl-color-primary-500: #{$ag-colour-primary};
    // the tutorial video started at darkening by 5% with 5% increments, see how it goes - may change later
    --sl-color-primary-600: #{darken($ag-colour-primary, 5%)};
    --sl-color-primary-700: #{darken($ag-colour-primary, 10%)};
    --sl-color-primary-800: #{darken($ag-colour-primary, 15%)};
    --sl-color-primary-900: #{darken($ag-colour-primary, 20%)};
    --sl-color-primary-950: #{darken($ag-colour-primary, 25%)};
    --sl-focus-ring-color-primary: rgba(0, 0, 0, 0.1); // hoever on form inputs, slightly opaque
  }